@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,500;0,600;0,700;1,300;1,400;1,600&family=Kumbh+Sans:wght@100;400;700&family=Libre+Franklin:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;1,300;1,600;1,700&family=Overpass:wght@100;300;600&family=Ubuntu:wght@300;400;500;700&display=swap');

:root{
    --overpass-300-600:'Overpass', sans-serif;
    --ubutu-400-500-700:'Ubuntu', sans-serif;
}
*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
html{
    overflow-x: hidden;
    /* font-size: 65.2%; */
}
/* body{
    margin: 3rem 0 0 0;

} */

.header{
    background-image: url(/images/bg-pattern-intro.svg), linear-gradient(
        180deg,hsl(13, 100%, 72%),
        hsl(353, 100%, 62%)
    );
    background-position: center;
    background-size: 250%;
    height: 100vh;
    border-radius: 0 0 0 100px;
    
}

.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}


.header_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
}
.header_toggle{
    cursor: pointer;
}
.header_cta{
    width: 90%;
    margin: auto;
    margin-top: 7em;
}
h1{
    font-size: 2.2rem;
    color: white;
    font-family: var(--ubutu-400-500-700);
    font-weight: 400;
}
.header_cta p{
    color: white;
    font-size: 1.1rem;
    font-family: var(--overpass-300-600);
    font-weight: 300;
    padding: 1em;
}
.btns{
    width: 100%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btns button{
    border: none;
    background: none;
    font-family: var(--ubutu-400-500-700);
    font-weight: 700;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 100px;
}
.btns button:nth-of-type(1){
    background-color: white;
    color: hsl(353, 100%, 62%);
}
.btns button:nth-of-type(1):hover{
    background-color:hsl(355, 100%, 74%);
    color: white;
}
.btns button:nth-of-type(2){
    border: 1px solid white;
    color: white;
}
.btns button:nth-of-type(2):hover{
    background-color: white;
    color:hsl(353, 100%, 62%);
}

/*NAV*/
@media screen and (max-width:992px) {
    .nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
        position: absolute;
        border-radius: 5px;
        left: 1.2em;
        top: 5rem;
        padding: 1.5em;
        width: 90%;
        display: none;
    }
    
}

.nav_content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    margin: auto;

}
.nav_item{
    text-align: center;
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
}
.nav-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 0.5rem;
       

}
.nav-btns button:nth-of-type(1){
    width: 50%;
    padding: 0.8em;
    margin-top: 1em;
    border: none;
    background: none;
    font-weight: 600;
   
}
.nav-btns button:nth-of-type(2){
    background-image: linear-gradient(
        90deg,
        hsl(13,100%,72%),
        hsl(353,100%,62%)
    );
    width: 50%;
    padding: 0.8em;
    color: white;
    border-radius: 50px;
    border: none;
    font-weight: 600;
}
button,a{
    cursor: pointer;
}


.dropdown_menu{
    background-color: hsla(240, 3%, 79%,0.241);
    padding: 1em;
    border-radius: 5px;
    display: none;
}
.dropdown:hover>.dropdown_menu{
    display: block;
}
.dropdown:hover img{
    transform: rotate(180deg);
}


.dropdown_link{
    width: 100%;
     font-size: 1em;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0;
     border: none;
     background: none;
     font-family: var(--overpass-300-600);
     font-weight: 600;
}
.dropdown_link img{
    padding: 0 0.6rem;
}
.dropdown_item{
    
    width: 100%;
     line-height: 2em;
}
.dropdown_item a{    
    color: hsl(207, 13%, 34%);
    font-family: var(--overpass-300-600);
    font-weight: 600;
}
.dropdown_item a:hover{
    color:hsl(240,10%,16%);
    font-size: 1.1rem;
}
.divider{
    width: 100%;
    margin: .5rem auto;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}
.show{
    display: flex;
}
.humburger{
    content: url(/images/icon-close.svg);
}

.sect-1 img,
.sect-3 img{
    width: 100%;
	margin-bottom:1.5em;
    /* width: fit-content; */
}
h2{
    font-size: 1.4em;
    font-family: var(--ubutu-400-500-700);
    font-weight: 700;
    color: hsl(208,49%,24%);
	margin-bottom:1rem;
}

/* SECTIONS */

.sect-1{
    margin: 2rem auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    
}
.info{
    width: 80%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
   

}
.sect-1 p, .sect-3 p{
    font-size: 1rem;
    font-family: var(--overpass-300-600);
    font-weight: 300;
    line-height: 1.5em;
    color: hsl(237, 17%, 21%);
	margin-bottom:1rem;
}

.content_2{
    background-image:url(/images/bg-pattern-circles.svg),
     linear-gradient(
        180deg,hsl(237,17%,21%),
        hsl(237,23%,32%)
        );
    background-size: 170%;
    background-repeat: no-repeat;
    background-position: -120px -200px, 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    height: 100vh;
    border-radius: 0 100px 0 100px;
    margin-top: 12em;
}
.content_2 img{
    position: absolute;
    width: 100%;
    max-width: 440px;
    transform: translateY(-200px);
    /* margin-top: -30rem; */
}
h3{
    font-size: 2em;
    font-family: var(--overpass-300-600);
    font-weight: 600;
    color: white;
	margin-bottom:1.5em;
}
.content_2 p{
    font-size: 1em;
    line-height: 1.5em;
    color: white;
    font-family: var(--overpass-300-600);
    font-weight: 300;
    /* padding-bottom: 5em;  */
}
.second{
    transform: translateY(-2px);
    margin-top: 15rem;
}
.sect-3{
    width: 85%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

/* FOOTER */
footer{
    background-color: hsl(240,10%,16%);
    color: white;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2.5em 0em;
    border-radius: 0 100px 0 0;
}
.logo-footer{
    width: 90px;
	margin-bottom:1.5em;
}
ul{
    font-family: var(--ubutu-400-500-700);
    font-weight: 400;
	margin-bottom:1.5em;
}
.title{
    font-weight: bold;
    padding-bottom: 1em;
}
li{
    list-style: none;
    line-height: 1.5em;
}
footer li a{
    text-decoration: none;
    color: white;
}
.attribution {
    font-size: 11px;
   text-align: center; }
.attribution a {
  color: white;
  font-family: var(--overpass-300-600);
  font-weight: 300;
}
.attribution p{
   font-family: var(--overpass-300-600);
   font-weight: 300;
}
.sect-1{
   position: relative;
}




/*===MEDIA QUERIES==*/
@media screen and (min-width:992px) {
    body{
        margin: 0;
        
    }
    .header_head{
        display:flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: auto;
       
    }
    .divider,.header_toggle{
        display: none;
    }
    
    .nav{
        width: 100%;
    }
    .nav_content{
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: none;
        /* left: 0; */
        width: 100%;
        gap: 10em;
    }
    .nav_list{
        display: flex;
         flex-direction: row;
         width: 50%;
         padding-left: 2em;
    }

    .nav-btns{
        flex-direction: row;
        width: 30%;
        justify-content: end;
        gap: 0;
    }
    .nav-btns button:nth-of-type(1){
        width: 50%;
        color: white;
        padding: 0.8em;
    }
    .nav-btns button:nth-of-type(2){
       width: 50%;
       background-image: none;
       background-color: white;
       color: hsl(353,100%,65%);
   }
   .nav-btns button:nth-of-type(2):hover{
    text-decoration: none;
    background: none;
    background-color: hsl(355, 100%, 74%);
    color: white;
   }
   .dropdown_menu{
    position: fixed;
    margin: 0;
    width: max-content;
    top: calc(3rem+2rem);
    background-color: white;
    padding: .5rem 1.5rem;
    box-shadow: 0em 0.5em 1em rgba(0, 0, 0, 0.135);
    border-radius: .5rem;
   }
   .dropdown_link{
    
    padding-top: 4rem;
    padding-right: 0.8rem;
    color: whitesmoke;
   }
   .dropdown_link:hover{
       text-decoration: underline;
   }
   .dropdown img{
    content: url(/images/icon-arrow-light.svg);
   }
   .btns{
    width: 40%;
    }
    h1{
        font-size:3rem;
    }
    .header_cta p{
        font-size: 1.5rem;        
    }
    .sect-1{
        width: 100%;
        margin-left: 2em;
        /* margin-top: 20em; */
    }
    .content_1 img{
        content: url(/images/illustration-editor-desktop.svg);
        width: 120%;
        margin-right: -20rem;
        margin-top: -10rem;
        
        
   }
    .content_1{
        margin-top: 3rem;
        display: flex;
        flex-direction: row-reverse;
        /* align-items: center; */
    }
    .sect-1 img,
    .sect-2 img,
    .sect-3 img{
        width: fit-content;
    }
    .sect-1 .info h2, .sect-1 .info p{
        text-align: start;
        
    }
    .sect-1 .info:nth-of-type(1){
        align-self: flex-start;
        margin-top: 3em;
        /* margin-bottom: 50%; */
    }
    .sect-1 .info:nth-of-type(2){
        align-self: center;
        margin-top: 8%;
    }

    .sect-2{
        width: 100%;
        
    }
    .content_2{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 2rem;
        height: 400px;
    }

    .content_2 img{
        position: relative;
        height: 130%;
        margin-left: 5rem;
        transform: translateY(-2px);
    }
    .second{
        transform: none;
        margin-top: 2rem;
        width: 40%;
    }

    .content_3{
        display: flex;
        flex-direction: row;
        margin-top: 8rem;
        height: 80vh;
    }
    .content_3 img{
        content: url(/images/illustration-laptop-desktop.svg);
        width: 150%;
        height: 120%;
        margin-left: -15rem;
        margin-top: -8rem;
    }
    .sect-3 .info h2, .sect-3 .info p{
        text-align: start;
        
    }
    .sect-3 .info:nth-of-type(1){
        align-self: flex-start;
        margin-top: 3em;
        /* margin-bottom: 50%; */
    }
    .sect-3 .info:nth-of-type(2){
        align-self: center;
        margin-top: 8%;
    }

    footer{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        text-align: start;
        margin-top: 3rem;
    }
    footer .title,footer li{
        text-align:start;
    }
    footer ul{
        align-self: flex-start;
        justify-self: start;
    }
    footer li{
        line-height: 2em;
    }
    footer img{
        align-self: flex-start;
        justify-self: center;
    }
    footer .attribution{
        grid-column: 1/5;
    }
    footer li:hover{
        text-decoration: underline;
    }
   
  
}
